/* Set custom theme colors */
$mdc-theme-primary: #225688;
$mdc-theme-accent: #d2aa28;
$mdc-theme-background: #fff;

// CETEIcean
@import "../../node_modules/CETEIcean/css/CETEIcean.css";

// Styles from MDL not yet implemented in MCW can be added like this
// @import "material-design-lite/src/chip/_chip";

// Styles from MCW. They're modular, so intall separately as you need them

// @import "@material/animation/mdc-animation";
// @import "@material/button/mdc-button";
// @import "@material/card/mdc-card";
// @import "@material/checkbox/mdc-checkbox";
// @import "@material/dialog/mdc-dialog";
// @import "@material/drawer/mdc-drawer";
// @import "@material/elevation/mdc-elevation";
// @import "@material/fab/mdc-fab";
// @import "@material/form-field/mdc-form-field";
// @import "@material/grid-list/mdc-grid-list";
// @import "@material/icon-toggle/mdc-icon-toggle";
@import "@material/layout-grid/mdc-layout-grid";
// @import "@material/list/mdc-list";
// @import "@material/menu/mdc-menu";
// @import "@material/radio/mdc-radio";
// @import "@material/ripple/mdc-ripple";
// @import "@material/select/mdc-select";
// @import "@material/snackbar/mdc-snackbar";
// @import "@material/switch/mdc-switch";
// @import "@material/textfield/mdc-textfield";
// @import "@material/theme/mdc-theme";
// @import "@material/toolbar/mdc-toolbar";
@import "@material/typography/mdc-typography";
// @import "@material/tabs/mdc-tabs.scss";
// @import "@material/linear-progress/mdc-linear-progress";

// TEI formatting

tei-supplied > tei-lg > tei-l:first-child:before {
  content: "[";
 }

tei-supplied > tei-lg > tei-l:last-child:after {
  content: "]";
}

tei-body .variant {
  text-shadow: 0px 0px 5px #337ab7;
  cursor: pointer;
}

tei-body .variant.active {
  text-shadow: 0px 0px 5px #f80;
}

svg .musVariant {
  fill: #337ab7;
  cursor: pointer;
}

svg .musVariant.active {
  fill: #f80;
}

ul.sourceList {
  li {
    list-style: none;
    a {
      text-decoration: none;
      color:inherit;
    }
  }
  li.active {
    color: white;
    background-color: #337ab7;
  }
}
